.trailblazer {
    position: absolute;
    top: 2px;
    left: 28px;
    font-family: 'Like A Rope';
    padding: 5px;
    font-size: 40px;
    text-align: left;
    display: inline;
    width: 110.6px;
    height: 18px;
}
.logIn {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: 'Fustat';
    display: inline-block;
}

.signUp {
    font-size: 20px;
    color: white;
    text-decoration: none;
    display: inline-block;
}
.home {
    font-size: 20px;
    color: white;
    text-decoration: none;
    display: inline-block;
}

.header {
    width: 90%;
    position: relative;
    border-radius: 30px;
    margin: 20px;
    padding: 10px;
    background-color: #af7746;
    height: 35px;
    overflow: hidden;
    text-align: center;
    font-size: 15.43px;
    color: #fff;
    font-family: Fustat;
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: space-between;  
    align-items: center;             
    width: 40%;     
    padding: 10px; 
    margin-left: auto;
}

