.paragraph{
    font-family: Fustat;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    color: #6EA2C4;
}

.title {
    font-family: 'Like A Rope';
    text-align: center;
    font-size: 150px;
    padding: 20px;
    color: #AF7746;
}

.container{
    display: flex;
    padding: 50px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.button {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: 'Fustat';
    padding: 5px 20px;
    border-radius: 30px;
    display: inline-block;
    border-radius: 30px;
    background-color: #0E4A6C;
    font-size: 20px;
}

.img {
    position: fixed;
    max-width: 300px;
    width: 25%;
    bottom: 0;
    left: -50px;
    height:auto;
}