.paragraph{
    font-family: Fustat;
    font-size: 40px;
    text-align: center;
    color: #6EA2C4;
}

.paragraphBounce{
    font-family: Fustat;
    animation: bounce 1s ease-in-out 1;
    font-size: 40px;
    text-align: center;
    color: #6EA2C4;
}

.title {
    font-family: 'Like A Rope';
    text-align: center;
    font-size: 180px;
    animation: fadeIn 2s ease-in-out, slideIn 1s ease-out;
    color: #AF7746;
}

.container{
    display: flex;
    padding: 50px;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
}

.button {
    color: white;
    text-decoration: none;
    font-family: 'Fustat';
    margin-top: 30px;
    padding: 8px 25px;
    border-radius: 30px;
    display: inline-block;
    border-radius: 30px;
    background-color: #0E4A6C;
    font-size: 25px;
}

.img {
    animation: fadeIn 3s ease-in-out, bounce 1s ease-in-out 2;
    position: fixed;
    max-width: 300px;
    width: 25%;
    bottom: 0;
    left: -50px;
    height:auto;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  ::-webkit-scrollbar {
    width: 12px;
  }
  

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #AF7746;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
